*{
    margin: 0;
    padding: 0%;
}
 .container {
    background-position: center;
    background-size: cover;
    position: relative;
}
 
    
.icon  img{
    height: 60px;
    width: 50px;
    justify-content: center;
    align-items: center;
    display: relative;
    max-width: 500px;
    margin: 20px;
}
.container {
  
    align-items: center;
    width: 100%;
    color: rgb(68, 54, 54);
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 10%;
    border: 2px solid rgb(26, 24, 24);
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 10%;
   
}


.footer button {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 30%; 
    border: 10px solid hwb(64 48% 0% / 0.938);
    background-color: rgb(238, 238, 24);
    color: rgb(182, 226, 101);
    padding: 25px 30px;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    margin: 15px;
   
 }         
.footer {
   position: relative;
   top: 40%;
   left: 45%;
   transform: translate(-50,-50);
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
   width: 50px;
   height: 50px;
   
}
.submit {
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left:  30%;
    margin-top: 35px;
}
.submit button{
    height: 50px;
    width: 60%;
    border-radius: 20px;
    cursor: pointer;
    color: rgb(251, 255, 5);
    background-color: rgba(34, 60, 70, 0.979);
}
.submit button:hover{
    border: 1px solid rgb(88, 247, 40);
    background: rgb(88, 255, 37);
    transition: 0.5s;
}
.footer button:hover{
    border: 1px solid rgb(80, 212, 80);
    background: rgb(229, 255, 111);
    transition: 0.5s;
}